Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-CORS==5.0.0
PyJWT==2.8.0
Werkzeug==3.0.3
onnxruntime
opencv-python-headless==4.10.0.84
pytesseract==0.3.10
python-dotenv==1.0.1
gunicorn==22.0.0
PyMySQL==1.1.1
